.nav {
    background: #080808;
    min-height: 70px;
    position: fixed;
    width: 100%;
    color: #fff;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
}


.nav li {
    display: inline-block;
    padding: 26px 0;
    width: 33.3%;
    text-align: center;
}
